@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color:#0000CD;
}


/*-----nav style-----*/


nav{
    display:flex;
    justify-content:space-between;
    margin-right:0px;
}
nav i{
    margin-right:5px;
}
nav a{
    text-decoration:none;
    color:white;
    margin-right:20px;
}
nav .login{
    background-color:tomato;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;

}




/*----------header style style---------------*/
header{
    padding:80px;
}
.header-content{
    display:flex;
    margin-top:20px;
}
.content{
    width:50%;
    margin-top:30px;
}
.content .header-title{
    color:white;
    padding:10%;
    font-size:50px;
}
.content .header-button{
    padding:10px;
    margin-left:60px;
}

.content .header-button{
    background-color:tomato;
    color:white;
}
.content a{
    text-decoration:none;
}
.content img{
    height:500px;
    width:600px;
    transition:width 1s,height 1s, transform 1s;
}
.header-content .content img:hover{
    height:510px;
    width:610px;
    transform:rotate(5deg);
}




/*------------main section style-------------*/

.container{
    width:840px;
    padding:30px;
    margin-top:7rem;
    margin-bottom:7rem;
    margin-left:7%;
    margin-right:7%;
}
.players{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap:30px;
    grid-column-gap:30px;
}
.player{
    border:1px solid white;
    box-shadow:8px 5px 15px 0px grey;
    padding:10px;
}
.player img{
    height:300px;
    width:350px;
}
.player-name{
    font-size:30px;
}
.players p{
    color:grey;
}




/*-----------highlight part style---------*/



.highlight{
    display:flex;
    margin:10%;
}
.highlight-content .highlight-heading{
    font-size:40px;
}
.highlight-content{
    padding:30px;
}
.highlight-content p{
    color:grey;
}
.highlight-content a{
    text-decoration:none;
}
.highlight-content .highlight-button{
    background-color:tomato;
    padding:10px;
    color:white;
}
.highlight-content img{
    height:500px;
    width:650px;
}




/*-------------footer style----------*/



.footer-style{
    text-align:center;
    color:black;
    padding-top:2.5%;
    padding-bottom:2.5%;
    border-radius:20px;
    }
.footer-img img{
    height:120px;
    width:500px;
}
.social-connect i{
    font-size:30px;
    margin-right:5px;
}



/*----------Media query------------*/

@media only screen and (max-width:688px){
    nav{
        width:100%;
    }
    nav .login{
        display:block;
        width:50%;
    }
    .content .header-button{
        padding:10px;
        margin-left:0px;
    }
    .header-content{
        display:block;
    }
    .content img{
        height:300px;
        width:400px;
        transition:width 1s,height 1s, transform 1s;
    }
    .header-content .content img:hover{
        height:310px;
        width:410px;
        transform:rotate(5deg);
    }
    .players{
        grid-template-columns:repeat(1,1fr);
     }
    .player{
        flex-direction:column;
        width:50%;
    }
    .highlight{
    display:block;
    }
    .highlight-content img{
    height:280px;
    width:380px;
    }
    .footer-img img{
    height:80px;
    width:440px;
    }
}



@media only screen and (min-width:688px) and (max-width:992px){
    nav{
        width:100%;
    }
    .header-content{
        display:block;
    }
    .content img{
        height:500px;
        width:600px;
        transition:width 1s,height 1s, transform 1s;
    }


    .header-content .content img:hover{
        height:510px;
        width:610px;
        transform:rotate(5deg);
    }
    .players{
        grid-template-columns:repeat(2,1fr);
     }
    .player{
        flex-direction:column;
    }
    .highlight{
    display:block;
    }
    .highlight-content img{
    height:500px;
    width:650px;
    }
    .footer-img img{
    height:120px;
    width:500px;
    }
}